
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-pic">
					<img src="./img/main/logo.svg" alt="">
				</span>
				<span class="logo-title">
					<img src="./img/main/logo-title.svg" alt="">
				</span>
			</a>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap action-menu">
				<a href="" class="btn-action-ico button-header ico-menu js-menu-toggle"></a>
			</div>
			<div class="action-wrap action-login">
				<div class="dropdown-content-block">
					<ul class="dropdown-menu">
						<li class="login-exit"><a href="" data-src="#popup-login" data-fancybox class="btn button-small button-clear">Выйти</a></li>
						<li class="login-button">
							<a href="" class="btn button-small button-light button-lk">
								<span class="button-ico">
									<img src="./img/icons/user.svg" alt="">
								</span>
								<span class="button-title">Иванов Иван</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="action-wrap action-lanuage js-popup-wrap">
				<a href="" class="btn-action-dropdown js-btn-toggle">Ru</a>
				<div class="dropdown-content-block js-popup-block">
					<ul class="dropdown-menu">
						<li><a href="">English</a></li>
						<li><a href="" class="active">Русский</a></li>
					</ul>
				</div>
			</div>
			<div class="action-wrap action-search">
				<a href="" class="btn-action-ico ico-search"></a>
				<!--<div class="dropdown-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="Поиск">
						<button type="submit" class="btn-action-ico ico-search"></button>
					</form>
				</div>-->
			</div>
		</div>
	</div>
</header>
<!-- /header -->

<!--nav-->
<nav class="nav">
	<div class="inner-wrap js-popup-wrap">
		<a href="" class="btn-menu js-btn-toggle"></a>
		<div class="dropdown-content-block js-popup-block">
			<ul class="menu-dropdown">
				<li><a href="">О компании</a></li>
				<li><a href="" class="active">Участникам</a></li>
				<li><a href="">Документы</a></li>
				<li><a href="">Тестовый доступ</a></li>
				<li><a href="">Категории</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
		</div>
	</div>
</nav><!--/nav-->